<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input
                            #imagepath
                            type="text"
                            id="imagePath"
                            formControlName="imagePath"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img [src]="imagepath.value" class="img-responsive rounded" style="max-height: 300px;">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea
                            type="text"
                            id="description"
                            formControlName="description"
                            class="form-control"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" formArrayName="ingredients">
                <div 
                    class="col-xs-12"
                    *ngFor="let ingredientCtrl of controls; let i = index"
                    [formGroupName]="i">
                    <div class="row">
                        <div class="col-sm-8">
                            <input
                                type="text"
                                class="form-control"
                                formControlName="name">
                        </div>
                        <div class="col-sm-2">
                            <input
                                type="text"
                                class="form-control"
                                formControlName="amount">
                        </div>
                        <div class="col">
                            <button class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    <button 
                        class="btn btn-success" 
                        type="button"
                        (click)="onAddIngredient()">
                        Add ingredient
                    </button>
                </div>
                <div class="col-sm-2">
                    <button
                        type="submit"
                        class="btn btn-success"
                        [disabled]="!recipeForm.valid"
                        (click)="onSubmit()">
                        Save
                    </button>
                </div>
                <div class="col">
                    <button
                        type="button"
                        class="btn btn-danger"
                        routerLink="../">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>