<div class="row">
    <div class="col-xs-10">
        <button class="btn btn-danger" style="margin-top: 20px;">New Recipe</button>
    </div><!-- Cook Book -->
    <style>
    button {
        transition: 0.3s;
    }

    button:hover {
        background-color: white;
        border-color: white;
        color: #ff2e2e;
        transition: 0.3s;
    }
        
        </style>
</div>
<div>
    <app-recipe-item   
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl"
        (recipeSelected)="onRecipeSelected(recipeEl)">
    </app-recipe-item>   
</div>

