<div class="row">
    <div class="col-xs-10">
        <button class="btn btn-danger" style="margin-top: 20px;">New Recipe</button>
    </div>
    <style>
        button:hover{
            transition-delay: 10s;
            width:53%;
        }
        </style>
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes" >
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{recipe.title}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
            <span class="pull-right">
                <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 150px;">
            </span>
        </a> -->
        <div class="card" style="width: 15rem; margin-top: 20px;" *ngFor="let recipe of recipes">
            <img [src]="recipe.imagePath" alt="" class="rounded img-responsive" style="max-height: 150px;">
            <div class="card-body">
              <h5 class="card-title">{{recipe.title}}</h5>
              <p class="card-text">{{recipe.description}}</p>
              <a href="#" class="btn btn-primary btn-sm">More details</a>              
            </div>            
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>

