
<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" 
                        id="name" 
                        class="form-control"
                        #ingredientName>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Quantity</label>
                    <input type="number" 
                        id="amount" 
                        class="form-control"
                        #ingredientAmt>
                </div>
            </div>
            <div class="row" style='padding-top: 1%;'>
                <div class="col-xs-12">
                    <button 
                        class="btn btn-success btn-sm"
                        (click)="onAddClicked()">
                        Add
                    </button>
                    <button 
                        class="btn btn-danger btn-sm" 
                        style='margin-left: 20px;'
                        (click)="onDelete()">
                        Delete
                    </button>
                    <button 
                        class="btn btn-primary btn-sm" 
                        style='margin-left: 20px;'
                        (click)="onClear()">
                        Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
